.tittleForm{
  h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #20284A;
    margin: 60px 0 52px 0;
  }
  .tittleFormCheck{
    input{
      margin-right: 10px;
    }
  }
}
