.FormAmount {
  display: flex;
  align-items: center;
  margin-top: 10px;
  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #898EA3;
    margin: 0;
  }
  svg {
    margin: 0 19px 0 66px;
  }
  input{
    border: 1px solid #DFE2E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    margin-right: 20px;
    padding: 0 8px 0 11px;
  }
}
