.FormFile{
  display: flex;
  align-items: center;
  h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #20284A;
  }
  svg{
    margin: 0 24px 0 59px;
  }
  h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #20284A;
  }
}
