@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
}
.app-container-content{
  padding-left: 148px;
}

.app-container-head{
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(20, 20, 25, 0.06);
}
